Week1/Week1/x64/Debug/Week1.tlog/CL.command.1.tlog
Week1/Week1/x64/Debug/Week1.tlog/Cl.items.tlog
Week1/Week1/x64/Debug/Week1.tlog/CL.read.1.tlog
Week1/Week1/x64/Debug/Week1.tlog/CL.write.1.tlog
Week1/Week1/x64/Debug/Week1.tlog/link.command.1.tlog
Week1/Week1/x64/Debug/Week1.tlog/link.read.1.tlog
Week1/Week1/x64/Debug/Week1.tlog/link.write.1.tlog
Week1/Week1/x64/Debug/Week1.tlog/Week1.lastbuildstate
Week1/x64/Debug/Week1.exe
Week1/x64/Debug/Week1.pdb
Please.txt
Week1/Week1.sln
Week1/.vs/Week1/FileContentIndex/c6503cc7-833f-47a5-a930-d3aa951edf6e.vsidx
Week1/.vs/Week1/FileContentIndex/c7b80a3c-ff99-42a9-9ab2-d621459f93e8.vsidx
Week1/.vs/Week1/FileContentIndex/read.lock
Week1/.vs/Week1/v17/.suo
Week1/.vs/Week1/v17/Browse.VC.db
Week1/.vs/Week1/v17/Browse.VC.db-shm
Week1/.vs/Week1/v17/Browse.VC.db-wal
Week1/.vs/Week1/v17/Browse.VC.opendb
Week1/.vs/Week1/v17/ipch/AutoPCH/d0f6549536fe4083/MAIN.ipch
Week1/Week1/Week1.vcxproj
Week1/Week1/Week1.vcxproj.filters
Week1/Week1/Week1.vcxproj.user
Week1/Week1/x64/Debug/main.obj
Week1/Week1/x64/Debug/vc143.idb
Week1/Week1/x64/Debug/vc143.pdb
Week1/Week1/x64/Debug/Week1.exe.recipe
Week1/Week1/x64/Debug/Week1.ilk
Week1/Week1/x64/Debug/Week1.log
